@tailwind base;
@tailwind components;
@tailwind utilities;


/* NewGuestLayout CSS */



/* NewGuestLayout CSS - ENDS */




/* Welcome page CSS below */
html, body {
    scroll-behavior: smooth;
}

#getstarted {
    min-height: 100vh;
    background-color: #031726;
}

#solutions {
    min-height: 100vh;
}

#resources {
    min-height: 100vh;
}

.main {
    background-color: #031726;
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
}

.header {
    color: #eee;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 48px 64px;
    position: relative;
    z-index: 3;
}

.header__nav ul {
    display: flex;
    gap: 18px;
}

.header__nav ul li {
    font-weight: Semi Bold;
    font-size: 19.62px;
    line-height: 27px;
    line-height: 100%;
}

.header__button {
    font-weight: Semi Bold;
    font-size: 19.62px;
    line-height: 27px;
    line-height: 100%;
}

.main__getstarted {
    color: #eee;
    padding-left: 48px;
    margin-top: 10rem;
    position: relative;
    z-index: 4;
}

.main__title {
    font-weight: 600;
    font-size: 90.44px;
    line-height: 109px;
}

.main__subtitle {
    font-weight: 600;
    font-size: 31.99px;
    line-height: 39px;
}

.main__layer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.main__layer img {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 36%;
}

.container {
    padding: 0 48px;
    margin: auto;
}

.secTwo {
    min-height: 100%;
}

.secTwo__title {
    padding-top: 80px;
    font-weight: 600;
    font-size: 45.23px;
    line-height: 55px;
    margin-bottom: 26px;
}

.secTwo__verticals {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 77px;
    justify-content: space-between;
}

.secTwo__verticals-i img {
    max-height: 200px;
    max-width: 160px;
}

.secTwo__why {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 36px;
    padding-bottom: 80px;
}

.secTwo__why-l img {
    margin-top: 75px;
}

.secTwo__why-l {
    flex: 1;
    display: grid;
    place-items: center;
}

.secTwo__why-r {
    flex: 1
}

.secTwo__title {
    font-weight: 600;
    font-size: 45.23px;
    line-height: 55px;
    color: #239DFA;
}

.secTwo__para {
    font-weight: 600;
    font-size: 30.23px;
    line-height: 55px;
    color: #000B13;
    margin-bottom: 26px;
}

.secTwo__button {
    font-weight: 600;
    font-size: 45.23px;
    line-height: 55px;
    color: #FA702F;
    display: flex;
}

.secTwo__button img {
    height: 60px;
}

.wrap {
    width: 100%;
    height: 100%;
    background-color: #031726;
    position: relative;
}

.secThree {
    padding: 125px 0;
    /* position: relative; */
    /* z-index: 2; */
}

.secThree__subtitle {
    font-weight: 600;
    font-size: 45.23px;
    line-height: 55px;
    color: #239DFA;
}

.secThree__title {
    font-weight: 600;
    font-size: 90.44px;
    line-height: 109px;
    color: #eeeeee;
    max-width: 800px;
}

.secThree__layer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 84%;
    height: 100%;
}

.secThree__layer img {
    position: inherit;
    top: 0;
    right: 0;
    width: 30%;
}

.secFour__hold {
    min-height: 100vh;
}

.secFour__grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

.secFour__img {
    min-height: 100%;
    display: grid;
    background-color: #EEEEEE;
}

.secFour__img img {
    margin: auto;
}

.secFour__texts {
    display: grid;
    max-width: 80%;
    /* max-height: 65%; */
    margin: auto;
}

.secFour__subtitle {
    font-weight: 600;
    font-size: 63.96px;
    line-height: 77px;
    color: #239DFA;
    margin-bottom: 20px;
}

.secFour__title {
    font-weight: 600;
    font-size: 90.44px;
    line-height: 109px;
    color: #EEEEEE;
    margin-bottom: 38px;
}

.secFour__para {
    font-weight: 600;
    font-size: 31.99px;
    line-height: 39px;
    color: #EEEEEE;
    margin-bottom: 48px
}

.secFour__button {
    font-weight: 600;
    font-size: 45.23px;
    line-height: 55px;
    color: #FA702F;
    margin-bottom: 75px;
    display: flex;
    align-items: flex-start;
}

.secFour__button img {
    height: 60px;
}

.secFive {
    min-height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.secFive__row {
    margin: auto;
    /* height: 80%; */
    padding: 48px;
    width: 95%;
    border-radius: 32px 0px;
    background-color: #239DFA;
}

.secFive__one-hold {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secFive__inner {
    display: grid;
    grid-template-columns: 52% 48%;
    place-items: center;
    height: 100%;
}

.secFive__outer {
    padding: 20px 0;
}

.secFive__texts {
    margin: auto;
}

.secFive__grid {
    display: flex;
}

.secFive__one {
    background-color: #EEEEEE;
    padding: 28px 0;
    flex: 1;
}

.secFive__two {
    background-color: #000B13;
    padding: 28px 0;
    flex: 1;
}

.secFive__subtitle {
    font-weight: 600;
    font-size: 31.99px;
    line-height: 39px;
    color: #031726;
    margin-bottom: 20px;
}

.secFive__title {
    font-weight: 600;
    font-size: 63.96px;
    line-height: 77px;
    margin-bottom: 32px;
}

.secFive__button {
    display: flex;
    align-items: center;
}

.secFive__button p {
    font-weight: 600;
    font-size: 31.99px;
    line-height: 39px;
}

.custom-blue {
    color: #239DFA;
}

.custom-green {
    color: #3CFA7A;
}

.custom-white {
    color: #eeeeee !important;
}

.footer__wrap {
    gap: 180px;
    padding: 50px 0;
    display: flex;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* gap: 50px; */
}

.footer__list ul li {
    font-weight: 600;
    font-size: 17.62px;
    line-height: 27px;
    color: #EEEEEE;
    margin-bottom: 55px;
}

.footer__label {
    font-size: 22.62px !important;
    color: #9E9E9E !important;
    margin-bottom: 35px;
}

.footer__copyrights {
    display: flex;
    width: 100%;
    padding: 16px 60px;
    justify-content: space-between;
    background-color: #000B13;
    color: #eeeeee;
}

@media (max-width: 1050px) {
    .header {
        padding: 20px 0;
        align-items: center;
    }

    .header__nav ul li {
        font-size: 13.62px;
    }

    .header__button {
        font-size: 13.62px;
    }

    .main__getstarted {
        margin-top: 4rem;
    }

    .main__title {
        font-size: 65px;
    }

    .secTwo__title {
        font-size: 30px;
        margin-bottom: 14px;
        line-height: normal;
    }

    .secTwo__para {
        font-size: 23px;
        margin-bottom: 10px;
        line-height: normal;
    }

    .secTwo__button {
        font-size: 31px;
    }

    .secThree__title {
        font-size: 60px;
    }

    .secFour__subtitle {
        font-size: 45px;
    }

    .secFour__title {
        font-size: 60px;
        line-height: normal;
    }

    .secFour__para {
        font-size: 24px;
        margin-bottom: 0;
    }

    .secTwo__verticals-i img {
        max-width: 90px;
    }

    .secFive {
        max-width: 100%;
    }

    .secFive__title {
        font-size: 40px;
    }
}


@media (max-width: 780px) {

    .header {
        flex-direction: column;
    }

    .header__logo {
        margin-bottom: 20px;
    }

    .header__nav {
        margin-bottom: 20px;
    }
    
    .main__title {
        line-height: 100px;
        font-size: 60px;
    }

    .main__button a img {
        width: 65%;
    }

    .secTwo__title {
        font-size: 26px;
    }

    .secTwo__para {
        font-size: 18px;
    }

    .secTwo__button {
        font-size: 25px;
    }

    .secThree__title {
        line-height: 78px;
        font-size: 50px;
    }

    .secFour__subtitle {
        font-size: 35px;
    }

    .secFour__title {
        font-size: 40px;
    }

    .secFour__para {
        font-size: 20px;
    }

    .secFour__button {
        font-size: 36px;
    }

    .secFive__texts-t {
        font-size: 40px;
    }

    .secFive__texts-s {
        font-size: 17px;
    }

    .secFive__title {
        line-height: normal;
        margin-bottom: 0;
        font-size: 27px;
    }

    .secFive__subtitle {
        margin-bottom: 0;
        line-height: normal;
        font-size: 21px;
    }

    .secFive__button p {
        font-size: 22px;
    }

    .secFive__one .container {
        justify-content: space-around !important;
    }

    .secFive__two .container {
        justify-content: space-around !important;
    }
}


@media (max-width: 538px) {

    .header__nav ul {
        text-align: center;
        display: block;
    }

    .header__nav ul li {
        margin-bottom: 12px;
    }

    .main__title {
        line-height: normal;
        font-size: 40px;
        margin-bottom: 28px;
    }

    .main__subtitle {
        font-size: 21.99px;
    }

    .secTwo__why {
        display: block;
    }

    .secTwo__verticals {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .secTwo__verticals-i img {
        margin: auto;
    }

    .secTwo__title {
        text-align: center;
    }

    .secFour__grid {
        display: block;
    }

    .secFour__img img {
        width: 55%;
        padding: 40px;
    }

    .secFive__inner{
        display: block;
    }
    
    .secFive__grid {
        flex-direction: column;
    }
}


@media (max-width: 333px) {
    
    .container {
        padding: 0 14px !important;
    }

}